.register {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 70px 0;
  width: 396px;
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .register {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .register {
    width: 260px;
  }
}