.movies {
  list-style: none;
  margin: 0;
  padding: 70px 70px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 37px 24px;
  overflow: hidden;
}

.movies__more {
  margin: 50px auto 80px auto;
  padding: 0;
  
  width: 320px;
  height: 36px;
  background-color: #fff;
  border: 1px solid #e8e8e8;

  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}