.login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 1279px) {
  .login {
    justify-content: center;
  }
  .login__button {
    margin-top: 179px;
  }
}

@media screen and (max-width: 767px) {
  .login {
    justify-content: flex-start;
  }
}