.register {
  margin: 70px auto;
}

.register__logo {
}

.register__subtitle {
  margin: 16px 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}

.register__subtitle-span {
  text-decoration: none;
  color: #3456f3;
}