.like {
  padding: 0;
  border: none;
  background-color: transparent;

  min-width: 30px;
  height: 30px;

  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.like_active {
  background-image: url(../../../images/like_active.svg);
}

.like_delete {
  visibility: hidden;
  background-image: url(../../../images/delete.svg);
  cursor: pointer;
}
