.profile {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 74px);
}

.profile__box {
  margin: 0 auto;
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: inherit;
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__form {
  height: 100%;
  margin-top: 123px;
  width: 410px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0 16px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border-bottom: 1px solid #e8e8e8;
}

.profile__label:first-of-type {
  padding-top: 0px;
}

.profile__label:last-of-type {
  padding-bottom: 0px;
  border: none;
}

.profile__input {
  width: 80%;
  font-weight: 400;
  text-align: end;
  border: none;
  outline: none;
}

.profile__button {
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.profile__submit {
  justify-self: flex-end;
  margin: auto 0 0;
}

.profile__exit {
  margin-top: 16px;
  font-weight: 500;
  color: #ff3055;
}

@media screen and (max-width: 1279px) {  
  .profile {
    justify-content: center;
  }
  
  .profile__box {
    min-height: auto;
  }

  .profile__form {
    margin-top: 96px;
    min-height: 274px;
    width: 410px;
    height: auto;
    flex-grow: none;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    justify-content: flex-start;
  }

  .profile__box {
    height: calc(100vh - 74px);
    padding: 70px 30px 40px;
  }
  
  .profile__form {
    margin-top: 80px;
    width: 260px;
    height: 100%;
  }
    
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }

}
