.about-project {
  padding: 110px 70px;
}

.about-project__table {
  margin: 70px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.about-project__table-sell {
  width: 100%
}

.about-project__table-title {
  display: inline-block;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__table-text {
  display: inline-block;
  margin: 26px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__timeline {
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.about-project__timeline-text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.about-project__timeline-week {
  margin: 0;
  padding: 9px 0;
  font-weight: 400;
}

.about-project__timeline-week:nth-child(1) {
  background-color: var(--basic);
}

.about-project__timeline-week:nth-child(2) {
  background-color: #f2f2f2;
}

.about-project__timeline-description {
  margin: 14px 0 0;
  font-weight: 500;
  color: #a0a0a0;
}

@media screen and (max-width: 1279px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__table {
    gap: 30px;
  }

  .about-project__table-text {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__timeline {
    margin-top: 93px;
  }

  .about-project__timeline-description {
    font-weight: 400;
  }

}

@media screen and (max-width: 767px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__table {
    margin-top: 60px;
    flex-direction: column;
    gap: 56px;
  }

  .about-project__table-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__table-text {
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timeline {
    margin-top: 60px;
    grid-template-columns: 1.1fr 2fr;
  }

  .about-project__timeline-text {
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__timeline-week {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .about-project__timeline-description {
    margin-top: 10px;
  }
}