@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);

:root {
  --basic: #2BE080;
  --main_promo_text: #fff;
  --main_promo_background: #073042;
  /* --color_focus: rgb(38, 78, 255, .7); */
}

html, body {
  height: 100%;
}

.body {
  background-color: var(--color_white);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color_black);
  box-sizing: border-box;
}

* {
  outline: 1px solid rgba(255, 0, 0, .05);
}

.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: var(--color_white);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.text-nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .link {
    font-size: 10px;
  }
}