.button-profile {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.button-profile::after {
  content: '';
  background-color: #f9f9f9;
  background-image: url(../../../images/profile.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-left: 13px;
  border-radius: 6px;
}